{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="wowtheme7">
    <meta name="description" content="Ecoly – Ecology Wind & Solar Energy HTML Template">

    {% block title %}
        <!-- ========== Meta Tags ========== -->
                <!-- ======== Page title ============ -->
                <title>Ecoly – Ecology Wind & Solar Energy HTML Template</title>
    {% endblock %}

    {% block headIndex %}
        <head>
            <!--<< Favcion >>-->
            <link rel="shortcut icon" href="assets/img/favicon.svg">
            <!--<< Bootstrap min.css >>-->
            <link rel="stylesheet" href="assets/css/bootstrap.min.css">
            <!--<< All Min Css >>-->
            <link rel="stylesheet" href="assets/css/all.min.css">
            <!--<< Animate.css >>-->
            <link rel="stylesheet" href="assets/css/animate.css">
            <!--<< Magnific Popup.css >>-->
            <link rel="stylesheet" href="assets/css/magnific-popup.css">
            <!--<< MeanMenu.css >>-->
            <link rel="stylesheet" href="assets/css/meanmenu.css">
            <!--<< Swiper Bundle.css >>-->
            <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
            <!--<< Nice Select.css >>-->
            <link rel="stylesheet" href="assets/css/nice-select.css">
            <!--<< Main.css >>-->
            <link rel="stylesheet" href="assets/css/main.css">
                                
        </head>
    {% endblock %}

</head>
<body>
    
    <div>
        {% block content %}
        
        {% endblock %}
    </div>

    {% block script %}
        {% include "public/Include/script.html" %}
    {% endblock %}

</body>
</html>