{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="wowtheme7">
    <meta name="description" content="Ecoly – Ecology Wind & Solar Energy HTML Template">

    {% block title %}
        <!-- ========== Meta Tags ========== -->
                <!-- ======== Page title ============ -->
                <title>Ecoly – Ecology Wind & Solar Energy HTML Template</title>
    {% endblock %}

    {% block headIndex %}
        <head>
            <!--<< Favcion >>-->
            <link rel="shortcut icon" href="assets/img/favicon.svg">
            <!--<< Bootstrap min.css >>-->
            <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
            <!--<< All Min Css >>-->
            <link rel="stylesheet" href="{% static 'assets/css/all.min.css' %}">
            <!--<< Animate.css >>-->
            <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">
            <!--<< Magnific Popup.css >>-->
            <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
            <!--<< MeanMenu.css >>-->
            <link rel="stylesheet" href="{% static 'assets/css/meanmenu.css' %}">
            <!--<< Swiper Bundle.css >>-->
            <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.min.css' %}">
            <!--<< Nice Select.css >>-->
            <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
            <!--<< Main.css >>-->
            <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
            <!-- Tailwind Css -->
            <link rel="stylesheet" href="{% static 'assets/css/output.css' %}">
                                
        </head>
    {% endblock %}

</head>
<body>

    {% block preload %}
        <!-- Preloader Start -->
        <div id="preloader" class="preloader">
            <div class="animation-preloader">
                <div class="spinner">                
                </div>
                <div class="txt-loading">
                    <span data-text-preloader="E" class="letters-loading">
                        E
                    </span>
                    <span data-text-preloader="C" class="letters-loading">
                        C
                    </span>
                    <span data-text-preloader="O" class="letters-loading">
                        O
                    </span>
                    <span data-text-preloader="L" class="letters-loading">
                        L
                    </span>
                    <span data-text-preloader="Y" class="letters-loading">
                        Y
                    </span>
                </div>
                <p class="text-center">Loading</p>
            </div>
            <div class="loader">
                <div class="row">
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    <div>
        {% block pagehead %}
            {% include "public/Include/header/head.html" %}
        {% endblock %}
    </div>
    
    <div>
        {% block content %}
        
        {% endblock %}
    </div>

    {% block script %}
        {% include "public/Include/script.html" %}
    {% endblock %}

</body>
</html>